/************************
Reset
************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::before,
::after {
  padding: 0;
  margin: 0;
}

/************************
Global Style
************************/
:root {
  --primaryColor: #00a99d;
  --secondaryColor: #383838;
  --mainWhite: #f9f9f9;
  --lightGrey: #6c6c6c;
  --darkGrey: #363636;
  --mainTransition: all 500ms ease-in-out;
  --mainSpacing: 0.1rem;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h3 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
  transition: var(--mainTransition);
}

ul {
  list-style-type: none;
}

/************************
Header
************************/
/* **********Main Header************* */

.main-header {
  background: linear-gradient(rgba(93, 113, 158, 0.5), rgba(20, 31, 88, 0.7)),
    url("../imagesStartup/header-bcg.jpg") center/cover no-repeat fixed;
  height: 60vh;
  position: relative;
}

.header-center {
  text-align: center;
  padding: 2rem;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-center p {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: -0.2rem;
}

.header-info {
  padding-bottom: 0.7rem;
  font-size: 2.1rem;
  letter-spacing: var(--mainSpacing);
}

.header-text {
  font-size: 0.8rem;
  color: var(--mainWhite);
  background: var(--secondaryColor);
  padding: 0.3rem 0.6rem;
  line-height: 1.3rem;
  letter-spacing: var(--mainSpacing);
}

.first-letter {
  color: var(--primaryColor);
  font-size: 0.7rem;
}

.end-name {
  font-size: 0.7rem;
  text-transform: initial;
}

.header-title {
  display: flex;
  justify-content: center;
}

.title {
  padding: 0.6rem 0.4rem;
  letter-spacing: var(--mainSpacing);
}

.right,
.left {
  color: var(--primaryColor);
  font-size: 1rem;
  padding: 1rem 0.6rem;
}

.green {
  color: var(--primaryColor);
}

.down {
  color: var(--primaryColor);
  font-size: 1.4rem;
  margin-top: 2rem;
}

/* ********** End Main Header************* */
/* ********** Navbar************* */
.navbar {
  /* padding: 1rem; */
  display: block;
  text-align: center;
  /* max-width: 1170px; */
}

.logo-box {
  padding: 1.5rem;
}

.logo {
  width: 50px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--primaryColor);
  margin: 0 auto;
  padding: 0.2rem;
}

.white {
  color: var(--mainWhite);
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link {
  padding: 0.4rem 1rem;
  transition: var(--mainTransition);
  text-transform: capitalize;
  line-height: 3rem;
}

.link:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: 5px;
}

.search {
  color: var(--primaryColor);
  padding-left: 1rem;
  cursor: pointer;
}

/* **********Media query************* */
@media screen and (min-width: 768px) {
  .header-row {
    width: 30rem;
    position: relative;
  }

  .header-info {
    letter-spacing: 0.5rem;
  }

  /* .wrapper {
    text-align: left;
     width: 600px;
   } */
  .header-title::before {
    content: " ";
    display: block;
    width: 80px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 58%;
    border-top: 1px solid var(--mainWhite);
    border-bottom: 1px solid var(--mainWhite);
  }

  .header-title::after {
    content: " ";
    display: block;
    width: 80px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 58%;
    border-top: 1px solid var(--mainWhite);
    border-bottom: 1px solid var(--mainWhite);
  }

  .header-center,
  .navbar {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }

  .logo-box,
  .search {
    padding: 0;
  }

  .logo-box,
  .search {
    margin: 2rem;
  }
}

/* ********** End Navbar************* */
/* **********End  Header************* */

/* **********Services section************* */
.services {
  margin-top: 1rem;
  padding: 1.5rem 3rem;
}

.section-center {
  text-align: center;
}

.section-style {
  display: flex;
  justify-content: center;
}

.section-info {
  font-size: 0.7rem;
  padding-bottom: 1rem;
}

/* .all-services {
  padding: 0.5rem;
} */
.single-service {
  padding: 1rem 0;
}

.title-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--darkGrey);
  color: var(--mainWhite);
  font-size: 1.3rem;
  margin: 0 auto;
  position: relative;
  transition: var(--mainTransition);
}

.title-icon:hover {
  background: var(--primaryColor);
}

.title-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.service-info {
  font-size: 0.7rem;
  padding: 0.8rem 0;
}

.service-title {
  font-size: 0.9rem;
  padding-top: 0.7rem;
}

.prim-btn {
  border: 1px solid #6c6c6c;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 3px;
  transition: var(--mainTransition);
}

.prim-btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border: none;
}

/* media query */
@media screen and (min-width: 768px) {
  .section-center {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
  }

  .all-services {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .single-service {
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .section-style::before {
    content: " ";
    display: block;
    width: 300px;
    height: 2px;
    position: absolute;
    left: 11%;
    top: 8%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
  }

  .section-style::after {
    content: " ";
    display: block;
    width: 300px;
    height: 2px;
    position: absolute;
    right: 11%;
    top: 8%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
  }
}

/* ********** End Services section************* */
/* ********** features section************* */
.features {
  margin-top: 1rem;
  padding: 1.5rem 3rem;
  background: var(--darkGrey);
  color: var(--mainWhite);
  position: relative;
}

.feature-section-icon {
  position: absolute;
  top: -3.4%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: var(--primaryColor);
  z-index: 2;
  transform: rotateZ(-45deg);
}

.feature-section-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-white {
  display: flex;
  justify-content: center;
}

.features p {
  color: var(--lightGrey);
}

.feature-info {
  font-size: 0.7rem;
  padding: 0.8rem 0;
}

.feature-icon {
  color: var(--primaryColor);
  font-size: 1.5rem;
}

.feature-title {
  font-size: 0.9rem;
  padding-top: 0.7rem;
}

.feature-img {
  display: none;
}

/**** Media query*****/
@media screen and (min-width: 768px) {
  .features-articles {
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem;
  }

  .feature-img {
    display: flex;
    align-items: stretch;
  }

  .feature-img,
  .all-features {
    width: 40%;
  }

  .single-feature {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }

  .feature-icon {
    width: 50px;
    padding: 0.8rem 2rem 0 0;
  }

  .feature-show {
    text-align: left;
  }
}

/* ********** End features section************* */
/* **********  skills section************* */
.skills {
  padding: 3rem 2rem;
  max-width: 1170px;
  margin: 0 auto;
}

.all-skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
}

.skill-icon {
  color: var(--mainWhite);
  font-size: 1.2rem;
  background: var(--darkGrey);
  width: 70px;
  height: 70px;
  text-align: center;
  padding-top: 0.8rem;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  transition: var(--mainTransition);
  clip-path: polygon(0 0, 100% 0, 100% 63%, 50% 100%, 0 63%);
}

.skill-icon:hover {
  background: var(--primaryColor);
}

/*.skill-icon::after:hover {
  background: var(--darkGrey);
}
.skill-icon::after {
  content: " ";
  background: var(--primaryColor);
  position: absolute;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  clip-path: polygon(0 0, 100% 0, 100% 63%, 50% 100%, 0 63%);
  top: 100%;
  left: 0;
  z-index: -2;
} */
.single-skill {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.skill-show {
  text-align: justify;
  padding-left: 1.5rem;
  margin-top: -11px;
}

.skill p {
  color: var(--lightGrey);
}

.skill-text {
  font-size: 0.6rem;
  padding: 0.2rem 0 0 0;
}

.skill-info {
  font-size: 0.7rem;
  padding: 0.8rem 0;
}

.skill-title {
  font-size: 0.8rem;
  padding-top: 0.7rem;
}

/* ********** End skills section************* */

/* ********** Powerful-skills section************* */

.portfolio {
  margin-top: 1rem;
  padding: 1.5rem 3rem;
  position: relative;
}

.portfolio-style {
  display: flex;
  justify-content: center;
}

.all-works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  padding: 2rem 0;
}

.single-work {
  position: relative;
  background: var(--primaryColor);
  text-align: center;
  overflow: hidden;
  /* transition: var(--mainTransition); */
}

.single-work:hover .work {
  opacity: 0;
  transition: var(--mainTransition);
}

.work-info {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: var(--mainTransition);
  padding: 4rem 1rem 0 1rem;
  width: 100%;
  height: 100%;
  color: var(--mainWhite);
  cursor: pointer;
}

.single-work:hover .work-info {
  opacity: 1;
}

.work-icons {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

.single-icon {
  width: 35px;
  height: 35px;
  transform: rotate(-45deg);
  position: relative;
  border-radius: 3px;
  background: var(--mainWhite);
  color: var(--primaryColor);
}

.single-icon:hover {
  background: var(--darkGrey);
  color: var(--mainWhite);
}

.single-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work-info h2 {
  padding-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.work-info h4 {
  padding-top: 0.7rem;
  font-size: 1rem;
  font-weight: 300;
}

.like-icons {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.fa-heart {
  padding-right: 1.3rem;
}

.btn {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
  max-width: 1170px;
  height: 50px;
  color: var(--mainWhite);
  background: var(--primaryColor);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  /* outline: 1px solid var(--primaryColor);
  padding: 10px; */
  border: none;
  transition: var(--mainTransition);
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.btn:hover {
  background: #006e67;
}

@media screen and (min-width: 768px) {
  .section-center {
    max-width: 1170px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-style::before {
    content: " ";
    display: block;
    width: 300px;
    height: 2px;
    position: absolute;
    left: 11%;
    top: 27%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
  }

  .portfolio-style::after {
    content: " ";
    display: block;
    width: 300px;
    height: 2px;
    position: absolute;
    right: 11%;
    top: 27%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
  }
}

/********** Team members section************* */
.team-member {
  margin-top: 1rem;
  padding: 1.5rem 3rem;
  position: relative;
}

.team-style {
  display: flex;
  justify-content: center;
}

.all-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 2rem 0;
  grid-gap: 1.5rem;

}

.single-member {
  padding-bottom: 0.8rem;
  border: 1px solid var(--lightGrey);
  text-align: center;
  transition: var(--mainTransition);
  cursor: pointer;
}

.img-box {
  position: relative;
  background: var(--primaryColor);
  text-align: center;
}

.single-member:hover .work {
  opacity: 0;
  /* transition: var(--mainTransition); */
}

.single-member:hover .team-icons {
  opacity: 1;
}

.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: var(--mainTransition);
  width: 100%;
  height: 100%;
  color: var(--mainWhite);
}

.team-btn {
  background: var(--primaryColor);
  display: inline-block;
  text-transform: uppercase;
  color: var(--mainWhite);
  font-weight: bold;
  /* outline: 0.2rem solid var(--primaryColor);
  outline-offset: 4px; */
  cursor: pointer;
  transition: var(--mainTransition);
  padding: 1.2rem 1.5rem;
  /* margin-top: -1.5rem; */
  /* z-index: 10; */
  transform: translateY(-50%);
  border-radius: 5px;
  cursor: pointer;
}

.single-member:hover .team-btn {
  background: var(--darkGrey);
}

.team-title {
  margin-top: -1rem;
  text-transform: capitalize;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.mail {
  padding-bottom: 0.7rem;
}

.mail i,
.number i {
  padding-right: 0.8rem;
}

.single-member:hover .e-mail {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}

/*
@media screen and (min-width: 1200px) {
  .team-style::before {
    content: " ";
    display: block;
    width: 300px;
    height: 2px;
    position: absolute;
    left: 11%;
    top: 27%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
  }
  .team-style::after {
    content: " ";
    display: block;
    width: 300px;
    height: 2px;
    position: absolute;
    right: 11%;
    top: 27%;
    border-top: 1px solid var(--lightGrey);
    border-bottom: 1px solid var(--lightGrey);
  }
} */

/********** End Team members section************* */

/**********icons section************* */
.icons-section {
  width: 100%;
  background: var(--darkGrey);
  color: white;
}

/********** End icons section************* */



/********** footer section************* */
.footer {
  width: 100%;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 50vh;

}

.submit-form {
  max-width: 1170px;
  position: absolute;
  top: 10%;
  left: 15%;
  background: var(--lightGrey);
  padding: 1.5rem;
  -webkit-box-shadow: -7px 1px 29px -7px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: -7px 1px 29px -7px rgba(0, 0, 0, 0.76);
  box-shadow: -7px 1px 29px -7px rgba(0, 0, 0, 0.76);
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

input,
textarea,
.submit-btn {
  padding: .8rem;
  border-radius: 5px;
  border: none;
}

::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.submit-btn {
  text-align: center;
  text-transform: uppercase;
  padding-top: .8rem;
  padding-bottom: .8rem;
  font-weight: bold;
  background: var(--primaryColor);
  color: var(--mainWhite);
  transition: var(--mainTransition);
  border: none;
  cursor: pointer;
  border-radius: 5px;

}

.submit-btn:hover {
  background: var(--darkGrey);
}

/* ************* Copyright *************** */
.copyright {
  margin-top: -1rem;
  background: var(--darkGrey);
  color: var(--mainWhite);
  position: relative;
  padding: 2rem 0;
}

.copyright-section-icon {
  position: absolute;
  top: -23%;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: var(--primaryColor);
  z-index: 2;
  transform: rotateZ(-45deg);
}

.copyright-section-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copy-text {
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width:500px) {
  .copyright-section-icon {
    display: none;
  }

  .footer {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width:750px) {
  .copyright-section-icon {
    display: none;
  }
}

/********** End footer section************* */